.form_container {
    padding: 2em 5em 5em 5em;
}

.form_position {
    position: absolute;
    top: 5em
}

.form_label {
    float: left;
}

.form_small_danger {
    float: left;
}

.mg-top {
    margin-top: 2em;
}